
*.xml
*.iml
*.lock
*.bin
EchoService/.gradle/buildOutputCleanup/cache.properties
EchoService/.gradle/vcsWorkingDirs/gc.properties
MonitorService/.gradle/buildOutputCleanup/cache.properties
MonitorService/.gradle/vcsWorkingDirs/gc.properties
OldIoImplementation/.gradle/buildOutputCleanup/cache.properties
OldIoImplementation/.gradle/vcsWorkingDirs/gc.properties
